<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jordan Express</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

    <style>
      .size-btn {
        width: 35px;
        height: 35px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #895D39;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    
      .size-btn input {
        display: none;
      }
    
      .size-btn:hover {
        background-color: #895D39;
        color: white;
      }
    
      .size-btn input:checked + label {
        background-color: #895D39;
        color: white;
      }
    </style>
    
  </head>
  <body>
  
  <div class="site-wrap">
    <div class="site-navbar navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <!-- Logo -->
          <a class="navbar-brand" href="index.html">
              <img src="images/logo.png" style="height: 150px; width: 150px; margin-top: -40px; margin-left: -100px; margin-right: 50px;"  alt="Logo">
          </a>
  
          <!-- Mobile Toggle Button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <!-- Navigation Links -->
          <nav class="site-navigation text-right text-md-center" role="navigation" >
            <div class="container" >
              <ul class="site-menu js-clone-nav d-none d-md-block">
                <li class="has-children">
                  <a href="index.html">Home</a>
                  <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="has-children">
                  <a href="about.html">About</a>
                  <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                  </ul>
                </li>
                <li class="active"><a href="shop.html">Shop</a></li>
                <li><a href="#">Catalogue</a></li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </nav>
  
          <!-- Right Icons -->
          <div class="col-4 col-md-3 " style="margin-left: 40px; margin-right: -100px;">
            <div class="site-top-icons" >  
              <ul class="d-flex justify-content-end align-items-center" style="gap: 15px; list-style: none; ">
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
                <!-- <li><a href="#"><span class="icon icon-person"></span></a></li> -->
                <li><a href="#"><span class="icon icon-heart-o"></span></a></li>
                <li>
                  <a href="cart.html" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    <span class="count">2</span>
                  </a>
                </li> 
                <li class="d-inline-block d-md-none ml-md-0">
                  <a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a>
                </li>
              </ul>
            </div> 
          </div>
          </div>

      </div>
    </div>