<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Code</title>

  <!-- Link File CSS -->
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <!-- link Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


  <style>
    .drop-down {
      position: relative;
      display: inline-block;
      font-size: 14px;
      padding-right: -30px;
    }

    .drop-down a {
      color: grey;
      text-decoration: none;
      padding: 8px 15px;
      border-radius: 5px;
      background: #f9f9f9;
      font-weight: 600;
      transition: 0.3s;
    }

    .drop-down a:hover {
      background: #895D39;
      color: white;
    }

    .drop-down-content {
      display: none;
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      min-width: 120px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: hidden;
      z-index: 999;
    }

    .drop-down-content a {
      display: block;
      padding: 10px;
      color: #333;
      text-align: center;
      font-size: 13px;
      transition: 0.3s;
    }

    .drop-down-content a:hover {
      background: #895D39;
      color: white;
    }

    .drop-down:hover .drop-down-content {
      display: block;
    }
  </style>

</head>

<body>
  <header>

    <a href="" class="logo"><img src="/img/Image.PNG" alt=""></a>

    <ul class="navigation">
      <li><a href="">Home</a></li>
      <li><a href="">Shop</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Settings</a></li>
    </ul>

    <div class="nav-right">
      <div class="nav-icon">
        <div class="search-box">
          <a href=""><i class='fa-solid fa-search' style="margin-left: 10px; color:#895D39;"></i></a>
          <input type="text" placeholder="Search here...">
        </div>
        <a href=""><i class='fa-regular fa-heart'></i></a>
        <a href=""><i class='fa-solid fa-cart-shopping'></i></a>
        <% if (typeof user !== 'undefined' && user) { %>
          <div class="drop-down">
            <a href="#" class="drop-down-trigger">
              <%= user.name %> 
            </a>
            <div class="drop-down-content">
              <a href="/userProfile">Profile</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
        <% } else { %>
          <a href="/login" class="login-link">
            <i class='fa-regular fa-user'></i>
            <span style="margin-left: -2px; font-weight: 700;">Login</span>
          </a>
        <% } %>
      </div>


    </div>
  </header>