<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jordan Express</title>

  <!-- Font Icon -->
  <link rel="stylesheet" href="registration/fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="registration/css/style.css">

  <style>
    .error-messege {
      margin-top: -26px;
      color: red;
      font-size: 0.7rem;
      display: none;
      padding-bottom: 12px;
    }

    .alert {
      position: fixed;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      background: #ff4d4d;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      width: 80%;
      max-width: 500px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      display: block;
    }
  </style>
</head>

<body>

  <div class="main">

    <!-- Sign up form -->
    <section class="signup">
      <div class="container">


        <% if (locals.message && locals.message.length> 0) { %>
          <div class="alert" id="alert">
            <%= locals.message %>
          </div>
          <% } %>

            <div class="signup-content">
              <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="post" class="register-form" id="signForm" action="/signup">
                  <div class="form-group ">
                    <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" name="name" id="name" placeholder="Your Name" />
                  </div>
                  <div id="error-1" class="error-messege"></div>


                  <div class="form-group" style="display: flex; align-items: center; justify-content: center;">
                    <label for="email"><i class="zmdi zmdi-email"></i></label>
                    <input type="text" name="email" id="email" placeholder="Your Email" />
                  </div>
                  <div id="error-2" class="error-messege"></div>


                  <div class="form-group">
                    <label for="name"><i class="zmdi zmdi-phone "></i></label>
                    <input type="text" name="phone" id="phone" placeholder="Mobile No" />
                  </div>
                  <div id="error-3" class="error-messege"></div>

                  <div class="form-group">
                    <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" name="password" id="password" placeholder="Password" />
                  </div>
                  <div id="error-4" class="error-messege"></div>


                  <div class="form-group">
                    <label for="confirm_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input type="password" name="confirm_pass" id="confirm_pass" placeholder="Confirm password" />
                  </div>
                  <div id="error-5" class="error-messege"></div>

                  <div class="form-group">
                    <label for="referralCode"><i class="zmdi zmdi-code"></i></label>
                    <input type="text" name="referralCode" id="referralCode" placeholder="Referral Code (Optional)" />
                  </div>
                  <div id="error-6" class="error-messege"></div>

                  <div class="form-group form-button"
                    style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; ">
                    <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />

                    <span class="social-label" style="padding-top: 25px; padding-left: 20px;">Or login with</span>
                    <ul class="socials" style="padding-top: 25px;">
                      <li><a href="/auth/google"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>


                  </div>



                </form>

              </div>
              <div class="signup-image">
                <figure><img src="registration/images/signup-image.jpg" alt="sing up image"></figure>
                <a href="/login" class="signup-image-link">I am already member</a>
              </div>
            </div>
      </div>
    </section>

  </div>

  <!-- JS -->
  <script src="registration/vendor/jquery/jquery.min.js"></script>
  <script src="registration/js/main.js"></script>

  <script>
    const nameId = document.getElementById('name')
    const emailId = document.getElementById('email')
    const phoneId = document.getElementById('phone')
    const passId = document.getElementById('password')
    const confirmPassId = document.getElementById('confirm_pass')


    const error1 = document.getElementById('error-1')
    const error2 = document.getElementById('error-2')
    const error3 = document.getElementById('error-3')
    const error4 = document.getElementById('error-4')
    const error5 = document.getElementById('error-5')
    const error6 = document.getElementById('error-6')


    const signForm = document.getElementById('signForm')




    function nameValidateChecking(e) {
      const nameValue = nameId.value;
      const namePattern = /^[A-Za-z\s]+$/

      if (nameValue.trim() === '') {
        error1.style.display = 'block'
        error1.innerHTML = 'Please enter a valid Name'
      } else if (!namePattern.test(nameValue)) {
        error1.style.display = 'block'
        error1.innerHTML = 'Name only contain alphabets and spaces '
      } else {
        error1.style.display = 'none'
        error1.innerHTML = ''
      }
    }

    function emailValidateChecking(e) {
      const emailValue = emailId.value
      const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

      if (emailValue.trim() === '') {
        error2.style.display = 'block'
        error2.innerHTML = 'Please enter a valid Email'
      }
      else if (!emailPattern.test(emailValue)) {
        error2.style.display = 'block';
        error2.innerHTML = 'Invalid format'
      } else {
        error2.style.display = 'none'
        error2.innerHTML = ''
      }
    }

    function phoneValidateChecking() {
      const phoneValue = phoneId.value
      const allZerosPattern = /^0{10}$/;

      if (phoneValue.trim() === '') {
        error3.style.display = 'block'
        error3.innerHTML = 'Enter a valid Phone number'
      } else if (phoneValue.length !== 10) {
        error3.style.display = 'block'
        error3.innerHTML = 'Enter 10 digits'
      } else if (allZerosPattern.test(phoneValue)) {
        error3.style.display = 'block'
        error3.innerHTML = 'Phone number cannot be all zeros'
      } else if (!/^\d{10}$/.test(phoneValue)) {
        error3.style.display = 'block'
        error3.innerHTML = 'Phone number must contain only digits'
      } else {
        error3.style.display = 'none'
        error3.innerHTML = ''
      }
    }

    function passValidateChecking(e) {
      const passvalue = passId.value
      const confirmPassValue = confirmPassId.value
      const alpha = /[a-zA-Z]/
      const digit = /\d/

      if (passvalue.length < 8) {
        error4.style.display = 'block'
        error4.innerHTML = 'Should conatin atleat 8 characters'
      } else if (!alpha.test(passvalue) || !digit.test(passvalue)) {
        error4.style.display = 'block'
        error4.innerHTML = 'Should contain number and alpahabets'
      } else {
        error4.style.display = 'none'
        error4.innerHTML = ''
      }


      if (passvalue !== confirmPassValue) {
        error5.style.display = 'block'
        error5.innerHTML = 'Password and confirm password are not match'
      } else {
        error5.style.display = 'none';
        error5.innerHTML = ''
      }
    }


    function referralCodeValidateChecking() {
      const referralCodeValue = document.getElementById('referralCode').value;
      if (referralCodeValue.trim() !== '' && referralCodeValue.length !== 8) {
        error6.style.display = 'block';
        error6.innerHTML = 'Referral code must be 8 characters long';
      } else {
        error6.style.display = 'none';
        error6.innerHTML = '';
      }
    }


    document.addEventListener('DOMContentLoaded', function () {
      signForm.addEventListener('submit', function (e) {

        nameValidateChecking();
        emailValidateChecking();
        phoneValidateChecking();
        passValidateChecking();
        referralCodeValidateChecking();

        if (
          !nameId ||
          !emailId ||
          !phoneId ||
          !passId ||
          !confirmPassId ||
          !error1 ||
          !error2 ||
          !error3 ||
          !error4 ||
          !error5 ||
          !signForm
        ) {
          console.log('one or more field missing')
        }

        if (
          error1.innerHTML ||
          error2.innerHTML ||
          error3.innerHTML ||
          error4.innerHTML ||
          error5.innerHTML
        ) {
          e.preventDefault()
        }

        if (error6.innerHTML) {
          e.preventDefault();
        }


      })
    })


    const alertBox = document.getElementById("alert");
    const inputs = document.querySelectorAll("input");

    inputs.forEach(input => {
      input.addEventListener("input", () => {
        alertBox.style.display = "none";
      });
    });




  </script>
</body>

</html>